* {
  color: #e00;
}

.btn-link {
  color: #e00;
}

.card-title {
  background-color: #e00;
  color: #eee;
  font-size: 2rem;
  text-align: center;
}

.card-text {
  font-size: 1.5rem;
  text-align: left;
}

.card-body {
  text-align: center;
}

.btn-primary {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #e00;
  background-color: #eee;
}

.btn-primary:hover {
  background-color: #e00;
}

.form-label {
  font-size: 1.5rem;
}
